* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}

@font-face {
    font-family: Muli;
    src: url(assets/fonts/Muli-Regular.woff);
}

@font-face {
    font-family: Muli-bold;
    src: url(assets/fonts/Muli-ExtraBold.woff);
}

li {
    list-style-type: none;
}

/* header */

.header {
    background-image: url(/assets/images/header-bg.png);
    height: 1080px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 69px;
}

.header ul {
    display: flex;
    flex-direction: row;
}

.header-nav-link {
    text-decoration: none;
    color: #ffffff;
    font-family: Muli;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 40px;
    text-transform: uppercase;
    padding-right: 40px;
}

.header-user-icon {
    padding-right: 45px;
}

.header-social-icon {
    padding-right: 15px;
}

.header-social-icons:after {
    content: '';
    width: 72px;
    height: 1px;
    background: #ffffff;
    position: absolute;
    top: 11%;
    left: 80%;
}

.header-content {
    display: flex;
    justify-content: center;
}

.header-button {
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background-color: #0aa566;
    margin-top: 105px;
    margin-left: 60px;
    border: none;
    font-family: Muli-bold;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* smoothie */

.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies-heading {
    color: #f7ae3b;
    font-family: Muli-Bold;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
    margin-top: 98px;
}

.smoothies-about {
    color: #1e1e1e;
    font-family: Muli;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 35px;
    text-align: center;
    width: 915px;
    margin-top: 55px;
}

.smoothies-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-bottom: 100px;
    width: 1010px;
    height: 389px;
}

.smoothies-card {
    text-align: center;
    flex-basis: 25%;
}

.smooties-card-text {
    display: block;
    color: #f2612d;
    font-family: Muli-Bold;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: center;
}

/* about  */

.about {
    background-color: #12846f;
    display: flex;
    justify-content: space-evenly;
    height: 800px;
}

.about-image {
    position: relative;
    top: 70px;
}

.about-features {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.about-heading {
    color: #ffffff;
    font-family: Muli-Bold;
    font-size: 55px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 60px;
    text-align: left;
    padding-bottom: 58px;
}

.about-heading-secretion {
    color: #cae941;
    position: relative;
}

.about-heading-secretion:after {
    content: url(/assets/images/about-heading-line.png);
    position: absolute;
    left: 0%;
    top: 40%;
}

.about-features-list {
    list-style-image: url(/assets/images/icons/about-icon.png);
    color: #ffffff;
    font-family: Muli;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 48px;
    text-align: left;
    padding-bottom: 45px;
}

.about-features-list-secretion {
    font-family: Muli-Bold;
}

.about-features-list li {
    padding-left: 19px;
}

.about-button {
    width: 380px;
    height: 60px;
    border-radius: 35px;
    background-color: #12846f;
    border: 1px solid #f8b231;
    font-family: Muli-bold;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}